<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 관리자 -->
        <!-- ========== section start ========== -->
        <section class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title">
                                <h2>대시보드</h2>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="#0">대시보드</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->
                <!-- 어드민 전용-->
                <th:block th:if="${userType=='ADMIN'}">
                    <div class="alert-box danger-alert pl-100" th:if="${countPartnerWhoWait>=1}">
                        <div class="left">
                            <h5 class="text-bold">관리</h5>
                        </div>
                        <div class="alert" onclick="location.href='/suppliers/pending'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                승인 대기 중인 업체가 [[${countPartnerWhoWait}]]건 있습니다.
                            </p>
                        </div>
                    </div>
                </th:block>
                <!-- end alert-box -->
                <!-- 구매부서 전용-->
                <th:block th:if="${userType=='ADMIN' || userType=='PURCHASE_DEPT'}">
                    <div class="alert-box danger-alert pl-100" th:if="${countProcurementPlanNotYet>=1}">
                        <div class="left">
                            <h5 class="text-bold">구매</h5>
                        </div>
                        <div class="alert" onclick="location.href='/order/list'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                아직 발주하지 않은 건수가 [[${countProcurementPlanNotYet}]]건 있습니다.
                            </p>
                        </div>
                    </div>
                </th:block>
                <!-- end alert-box -->
                <!-- 생산부서 전용-->
                <th:block th:if="${userType=='ADMIN' || userType=='PRODUCTION_DEPT'}">
                    <div class="alert-box success-alert pl-100"
                         th:if="${(countExportApproved - countExportFinished)>=1}">
                        <div class="left">
                            <h5 class="text-bold">생산</h5>
                        </div>
                        <div class="alert" onclick="location.href='/material/export/history'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                이번달에 요청한 출고 요청 [[${countExportRequest + countExportApproved - countExportFinished}]]건 중
                                [[${countExportApproved - countExportFinished}]]건이 승인 되었습니다.
                            </p>
                        </div>
                    </div>
                </th:block>
                <!-- end alert-box -->
                <!-- 자재부서 전용-->
                <th:block th:if="${userType=='ADMIN' || userType=='MATERIAL_DEPT'}">
                    <div class="alert-box danger-alert pl-100" th:if="${countExportRequest>=1}">
                        <div class="left">
                            <h5 class="text-bold">자재</h5>
                        </div>
                        <div class="alert" onclick="location.href='/material/export'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                아직 승인하지 않은 출고 요청이 [[${countExportRequest}]]건 있습니다.
                            </p>
                        </div>
                    </div>
                </th:block>
                <!-- end alert-box -->
                <!-- 협력업체 전용-->
                <th:block th:if="${userType=='SUPPLIER'}">
                    <div class="alert-box primary-alert pl-100" th:if="${countOrdersForSupplier>0}">
                        <div class="left">
                            <h5 class="text-bold">업체</h5>
                        </div>
                        <div class="alert" onclick="location.href='/suppliers/page#order'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                새로운 발주가 [[${countOrdersForSupplier}]]건 있습니다.
                            </p>
                        </div>
                    </div>
                    <!-- end alert-box -->
                    <div class="alert-box primary-alert pl-100" th:if="${countDeliveryRequestForSupplierNotYet>0}">
                        <div class="left">
                            <h5 class="text-bold">업체</h5>
                        </div>
                        <div class="alert" onclick="location.href='/suppliers/page#delivery'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                아직 처리하지 않은 납품 지시가 [[${countDeliveryRequestForSupplierNotYet}]]건 있습니다.
                            </p>
                        </div>
                    </div>
                    <!-- end alert-box -->
                    <div class="alert-box danger-alert pl-100" th:if="${isInspectionDate}">
                        <div class="left">
                            <h5 class="text-bold">업체</h5>
                        </div>
                        <div class="alert" onclick="location.href='/suppliers/page#inspection'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                오늘은 진척 검수 예정일입니다.
                            </p>
                        </div>
                    </div>
                    <!-- end alert-box -->
                    <div class="alert-box danger-alert pl-100" th:if="${countReturnNotFinished>0}">
                        <div class="left">
                            <h5 class="text-bold">업체</h5>
                        </div>
                        <div class="alert" onclick="location.href='/suppliers/page#returns'" style="cursor: pointer">
                            <h4 class="alert-heading">중요 알림</h4>
                            <p class="text-medium">
                                재배송 건이 [[${countReturnNotFinished}]]건 있습니다.
                            </p>
                        </div>
                    </div>
                </th:block>
                <!-- end alert-box -->

                <div class="row">

                    <!-- 모두에게 출력되어야하는 구역 -->
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30">
                            <div class="icon purple">
                                <i class="lni lni-calendar"></i>
                            </div>
                            <div class="content">
                                <h6 class="mb-10">진행 중인 생산 계획 수</h6>
                                <h3 class="text-bold mb-10">[[${countProductionPlan}]]</h3>
                                <p class="text-sm text-success">
                                    <a th:if="${userType!='SUPPLIER'}" th:href="@{/plan/list}"><span class="text-gray">더 보기</span></a>
                                    <span th:if="${userType=='SUPPLIER'}"  class="text-gray">아래의 달력을 참고해주세요.</span>
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Cart -->
                    </div>
                    <!-- End Col -->

                    <!-- 구매부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='PURCHASE_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon primary">
                                    <i class="lni lni-write"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">이번 달 발주 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countOrder}]]</h3>
                                    <p class="text-sm text-danger">
                                        <a th:href="@{/order/history}"> <span class="text-gray">더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                    <!-- 구매부서 / 자재부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='PURCHASE_DEPT'|| userType=='MATERIAL_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon orange">
                                    <i class="lni lni-phone-set"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">이번달 납품 지시 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countDeliveryRequest}]]</h3>
                                    <p class="text-sm text-success">
                                        <a th:href="@{/order/delivery}"> <span class="text-gray">더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                    <!-- 구매부서 / 자재부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='PURCHASE_DEPT'|| userType=='MATERIAL_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon success">
                                    <i class="lni lni-inbox"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">입고 예정 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countImport}]]</h3>
                                    <p class="text-sm text-danger">
                                        <a th:href="@{/material/import}"> <span class="text-gray"> 더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->

                    <!-- 자재부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='MATERIAL_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon blue-light">
                                    <i class="lni lni-keyword-research"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">입고 검수 예정 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countImportInspection}]]</h3>
                                    <p class="text-sm text-success">
                                        <a th:href="@{/material/import}"> <span class="text-gray">더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                    <!-- 자재부서  / 생산부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='PRODUCTION_DEPT'|| userType=='MATERIAL_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon primary">
                                    <i class="lni lni-timer"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">대기 중인 출고 요청 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countExportRequest}]]</h3>
                                    <p class="text-sm text-danger">
                                        <a th:href="@{/material/export}"><span class="text-gray">더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                    <!-- 자재부서  / 생산부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='PRODUCTION_DEPT'|| userType=='MATERIAL_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon orange">
                                    <i class="lni lni-wheelbarrow"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">승인된 출고 요청 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countExportApproved}]]</h3>
                                    <p class="text-sm text-danger">
                                        <a th:href="@{/material/export/request}"><span
                                                class="text-gray"> 더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                    <!-- 자재부서  / 생산부서 전용 -->
                    <th:block th:if="${userType=='ADMIN' || userType=='PRODUCTION_DEPT'|| userType=='MATERIAL_DEPT'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon success">
                                    <i class="lni lni-package"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">불출 완료된 건수</h6>
                                    <h3 class="text-bold mb-10">[[${countExportFinished}]]</h3>
                                    <p class="text-sm text-success">
                                        <a th:href="@{/material/export/history}"><span
                                                class="text-gray"> 더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                    <th:block th:if="${userType=='SUPPLIER'}">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon success">
                                    <i class="lni lni-write"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">이번 달 발주 건수</h6>
                                    <h3 class="text-bold mb-10"> [[${countOrderForSupplier}]]</h3>
                                    <p class="text-sm text-success">
                                        <a th:href="@{/suppliers/page#order}"><span
                                                class="text-gray"> 더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon primary">
                                    <i class="lni lni-phone-set"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">이번 달 납품 지시 건수</h6>
                                    <h3 class="text-bold mb-10"> [[${countDeliveryRequestForSupplier}]] </h3>
                                    <p class="text-sm text-success">
                                        <a th:href="@{/suppliers/page#delivery}"><span
                                                class="text-gray"> 더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="icon-card mb-30">
                                <div class="icon orange">
                                    <i class="lni lni-keyword-research"></i>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">진행 중인 진척 검수 건수</h6>
                                    <h3 class="text-bold mb-10"> [[${countInspectionForSupplier}]] </h3>
                                    <p class="text-sm text-success">
                                        <a th:href="@{/suppliers/page#inspection}"><span
                                                class="text-gray"> 더 보기</span></a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Cart -->
                        </div>
                    </th:block>
                    <!-- End Col -->
                </div>

                <!--모두에게 보여야하는 구역 -->
                <div class="row">
                    <!-- 달력 -->
                    <div class="col-lg-7">
                        <div class="card-style calendar-card mb-30">
                            <h5>생산 계획 달력</h5>
                            <div id="calendar"></div>
                        </div>
                    </div>
                    <!-- 달력 끝 -->
                    <div class="col-lg-5">
                        <!-- 구매부서 전용-->
                        <th:block th:if="${userType=='ADMIN' || userType=='PURCHASE_DEPT'}">
                            <!-- 발주 목록 -->
                            <div class="card-style mb-30">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h6 class="mb-10">현재 발주 중인 목록</h6>
                                        <p class="text-sm mb-20">
                                            최근 5건만 표시됩니다.
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                        <a th:href="@{/order/history}"><span class="text-gray">더 보기</span></a>
                                    </div>
                                </div>
                                <div class="table-wrapper table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th class="text-center">
                                                <h6>품목명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>수량</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>업체명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>납기일</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>상태</h6>
                                            </th>
                                        </tr>
                                        <!-- end table row-->

                                        <tr th:each="order : ${ordersDTOS}">
                                            <td class="min-width">
                                                <p th:text="${order.materialName}"></p>
                                            </td>
                                            <td class="min-width text-align-right">
                                                <p th:text="${order.orderQuantity}"></p>
                                            </td>
                                            <td class="min-width text-center">
                                                <p th:text="${order.supplierName}"></p>
                                            </td>
                                            <td class="min-width text-center">
                                                <p th:text="${order.expectedDate}"></p>
                                            </td>
                                            <td class="min-width text-center">
                                            <span class="status-btn success-btn"
                                                  th:if="${order.status=='ON_HOLD'}">대기 중</span>
                                                <span class="status-btn active-btn"
                                                      th:if="${order.status=='APPROVAL'}">승인 완료</span>
                                                <span class="status-btn active-btn"
                                                      th:if="${order.status=='DELIVERED'}">전부 배송됨</span>
                                                <span class="status-btn close-btn"
                                                      th:if="${order.status=='FINISHED'}">종료</span>
                                            </td>
                                        </tr>
                                        <!-- end table row -->
                                    </table>
                                </div>

                            </div>
                            <!-- 발주 목록 끝 -->
                        </th:block>
                        <!-- 생산 부서 전용-->
                        <th:block th:if="${userType=='ADMIN' || userType=='PRODUCTION_DEPT'}">
                            <!-- 작업 목록 -->

                            <div class="card-style mb-30">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h6 class="mb-10">현재 출고 요청 목록</h6>
                                        <p class="text-sm mb-20">
                                            최근 5건만 표시됩니다.
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                        <a th:href="@{/material/export}"><span class="text-gray">더 보기</span></a>
                                    </div>
                                </div>
                                <div class="table-wrapper table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th class="text-center">
                                                <h6>조립자재명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>자재명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>수량</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>신청일</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>상태</h6>
                                            </th>
                                        </tr>
                                        <!-- end table row-->
                                        <tr th:each="export:${exportDTOS}">
                                            <td class="min-width text-center">
                                                <p th:text="${export.assyMaterialName}">
                                            </td>
                                            <td class="min-width">
                                                <p th:text="${export.materialName}">
                                            </td>
                                            <td class="min-width text-align-right">
                                                <p th:text="${export.requiredQuantity}">
                                            </td>
                                            <td class="min-width text-center">
                                                <p th:text="${#temporals.format(export.createdDate, 'yyyy-MM-dd')}">
                                            </td>
                                            <td class="min-width text-center">
                                            <span class="status-btn success-btn" th:if="${export.exportStatus=='대기 중'}"
                                                  th:text="${export.exportStatus}"/>
                                                <span class="status-btn active-btn"
                                                      th:if="${export.exportStatus=='승인 완료'}"
                                                      th:text="${export.exportStatus}"/>
                                                <span class="status-btn close-btn" th:if="${export.exportStatus=='종료'}"
                                                      th:text="${export.exportStatus}"/>
                                            </td>
                                        </tr>
                                        <!-- end table row -->
                                    </table>
                                </div>
                            </div>

                            <!-- 작업 목록 끝-->
                        </th:block>
                        <th:block th:if="${userType=='ADMIN' || userType=='MATERIAL_DEPT'}">
                            <!-- 자재 부서 전용-->
                            <!-- 입고 검수 목록-->
                            <div class="card-style mb-30">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h6 class="mb-10">현재 입고 중인 목록</h6>
                                        <p class="text-sm mb-20">
                                            최근 5건만 표시됩니다.
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                        <a th:href="@{/material/import}"><span class="text-gray">더 보기</span></a>
                                    </div>
                                </div>
                                <div class="table-wrapper table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">
                                                <h6>품목명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>수량</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>업체명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>최종 변동일</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>상태</h6>
                                            </th>
                                        </tr>
                                        <!-- end table row-->
                                        </thead>
                                        <tbody>
                                        <tr th:each="import : ${importDTOS}">
                                            <td class="min-width">
                                                <p th:text="${import.materialName}"></p>
                                            </td>
                                            <td class="min-width">
                                                <p th:text="${import.quantity}"></p>
                                            </td>
                                            <td class="min-width">
                                                <p th:text="${import.supplierName}"></p>
                                            </td>
                                            <td class="min-width">
                                                <p th:text="${#temporals.format(import.modifiedDate, 'yyyy-MM-dd')}"></p>
                                            </td>
                                            <td class="min-width">
                                                <span class="status-btn success-btn"
                                                      th:if="${import.importStatus.name()=='ON_HOLD'}">대기 중</span>
                                                <span class="status-btn active-btn"
                                                      th:if="${import.importStatus.name()=='UNDER_INSPECTION'}">검수 중</span>
                                                <span class="status-btn close-btn"
                                                      th:if="${import.importStatus.name()=='FINISHED'}">종료</span>
                                            </td>
                                        </tr>
                                        <!-- end table row -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 입고 검수 목록 끝-->
                        </th:block>
                        <!-- 협력 업체 전용-->
                        <th:block th:if="${userType=='SUPPLIER'}">
                            <!-- 발주 들어온 목록-->
                            <div class="card-style mb-30">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h6 class="mb-10">현재 발주 중인 목록</h6>
                                        <p class="text-sm mb-20">
                                            최근 5건만 표시됩니다.
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                        <a th:href="@{/suppliers/page#order}"><span class="text-gray">더 보기</span></a>
                                    </div>
                                </div>
                                <div class="table-wrapper table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th class="text-center">
                                                <h6>품목명</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>수량</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>납기일</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>진척검수</h6>
                                            </th>
                                            <th class="text-center">
                                                <h6>상태</h6>
                                            </th>
                                        </tr>
                                        <!-- end table row-->

                                        <tr th:each="order:${ordersDTOSForSupplier}">

                                            <td class="min-width">
                                                <p th:text="${order.materialName}"></p>
                                            </td>
                                            <td class="min-width text-align-right">
                                                <p th:text="${order.orderQuantity}"></p>
                                            </td>
                                            <td class="min-width text-center">
                                                <p th:text="${order.expectedDate}"></p>
                                            </td>
                                            <td class="min-width text-center">
                                                <p th:if="${order.materialType=='구매품'}">-</p>
                                                <p th:if="${order.materialType=='제조품'}">
                                                    [[${order.finishedInspection}]]/[[${order.totalInspection}]]</p>
                                            </td>
                                            <td class="min-width text-center">
                                            <span class="status-btn success-btn"
                                                  th:if="${order.status=='ON_HOLD'}">대기 중</span>
                                                <span class="status-btn active-btn"
                                                      th:if="${order.status=='APPROVAL'}">승인 완료</span>
                                                <span class="status-btn active-btn"
                                                      th:if="${order.status=='DELIVERED'}">전부 배송됨</span>
                                                <span class="status-btn close-btn"
                                                      th:if="${order.status=='FINISHED'}">종료</span>
                                            </td>
                                        </tr>
                                        <!-- end table row -->
                                    </table>
                                </div>
                            </div>
                            <!-- 발주 들어온 목록 끝-->
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== section end ========== -->

        <!-- ========== footer start =========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-last order-md-first">
                        <div class="copyright text-center text-md-start">
                            <p class="text-sm">
                                Designed and Developed by
                                <a href="https://plainadmin.com" rel="nofollow" target="_blank">
                                    PlainAdmin
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- end col-->
                    <div class="col-md-6">
                        <div class="terms d-flex justify-content-center justify-content-md-end">
                            <a class="text-sm" href="#0">Term & Conditions</a>
                            <a class="text-sm ml-15" href="#0">Privacy & Policy</a>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- ========== footer end =========== -->

        <script th:src="@{/assets/dist/index.global.js}"></script>
        <script th:src="@{/assets/dist/index.global.min.js}"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {

                    headerToolbar: {
                        left  : 'title',
                        center: '',
                        right : 'today prev, next'
                    },
                    initialView  : "dayGridMonth",
                    navLinks     : false, // can click day/week names to navigate views
                    nowIndicator : true,

                    weekNumbers          : false,
                    weekNumberCalculation: 'ISO',
                    fixedWeekCount       : false,

                    editable    : false,
                    selectable  : true,
                    dayMaxEvents: true, // allow "more" link when too many events
                    events      : "/api/calendar/events",
                    eventClick  : function (info) {
                        // 이벤트 클릭 시 상세 정보 표시
                        alert(
                            `일정: ${info.event.title}\n` +
                            `생산 일정: ${changeDateFormat(info.event.start)} ~ ${changeEndDateFormat(info.event.end)}\n`
                        );
                    }
                });

                calendar.render();
            });


            function changeDateFormat(date) {
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return year + '-' + month + '-' + day;
            }

            function changeEndDateFormat(date) {
                date.setDate(date.getDate() - 1);
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return year + '-' + month + '-' + day;
            }
        </script>

    </th:block>
</th:block>
