<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>협력사 페이지</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">업체관리</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#0">협력사 페이지</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->

            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <!-- 협력사 기본 정보 -->
                            <h3 class="mb-10">협력사 기본 정보</h3>
                            <div class="supplier-info">
                                <p><strong>사업자 번호:</strong> [사업자 번호]</p>
                                <p><strong>연락처:</strong> [연락처]</p>
                                <p><strong>주소:</strong> [주소]</p>
                                <p><strong>업태:</strong> [업태]</p>
                                <p><strong>종목:</strong> [종목]</p>
                                <button class="btn-approve">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 거래 내역 요약 -->
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <div class="transaction-summary">
                                <h3>거래 내역 요약</h3>
                                <p><strong>총 거래 금액:</strong> [총 거래 금액]</p>
                                <p><strong>연별 금액:</strong> [연별 거래 금액]</p>
                                <p><strong>월별 거래 금액:</strong> [월별 거래 금액]</p>
                                <p><strong>주별 거래 금액:</strong> [주별 거래 금액]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 취급 자재 품목 -->
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <h3>취급 자재 품목</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><h6>자재 이름</h6></th>
                                    <th class="text-center"><h6>단가</h6></th>
                                    <th class="text-center"><h6>최소 공급 수량</h6></th>
                                    <th class="text-center"><h6>현재 재고 수량</h6></th>
                                    <th class="text-center"><h6>가용 재고 수량</h6></th>
                                    <th class="text-center"><h6>재고 수량 수정</h6></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="stock : ${supplierStocks}">
                                    <td class="min-width">[[${stock.materialName}]]</td>
                                    <td class="min-width text-center">[[${stock.unitPrice}]]</td>
                                    <td class="min-width text-center">[[${stock.quantity}]]</td>
                                    <td class="min-width text-center">[[${stock.stock}]]</td>
                                    <td class="min-width text-center">
                                        <span th:if="${stock.availableStock<0}" class="text-danger">[[${stock.availableStock}]]</span>
                                        <span th:if="${stock.availableStock>=0}">[[${stock.availableStock}]]</span>
                                    </td>
                                    <td class="min-width">
                                        <form th:action="@{/suppliers/stockUpdate}" method="POST">
                                            <input name="supplierStockId" th:value="${stock.supplierStockId}"
                                                   type="hidden">
                                            <div class="row" style="justify-content: flex-end; height: 60px">
                                                <div class="input-style-1 col-lg-4" style="margin-bottom: 0">
                                                    <input name="stock" style="width: 100px"
                                                           th:value="${stock.stock}" type="number">
                                                </div>
                                                <div class="col-lg-3" style="min-width: 180px">
                                                    <button class="main-btn primary-btn btn-hover" type="submit">수량 수정
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 발주 요청 관리 -->
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <h3 class="table-title">발주 요청 관리</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><h6>요청 ID</h6></th>
                                    <th class="text-center"><h6>부품 유형</h6></th>
                                    <th class="text-center"><h6>자재 이름</h6></th>
                                    <th class="text-center"><h6>요청 수량</h6></th>
                                    <th class="text-center"><h6>합계 금액</h6></th>
                                    <th class="text-center"><h6>요청 날짜</h6></th>
                                    <th class="text-center"><h6>상태</h6></th>
                                    <th class="text-center"><h6>Action</h6></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderRequest : ${orderRequests}">
                                    <td class="text-center" th:text="${orderRequest.orderCode}"></td>
                                    <td class="text-center" th:text="${orderRequest.materialType}"></td>
                                    <td class="text-center" th:text="${orderRequest.materialName}"></td>
                                    <td class="text-center" th:text="${orderRequest.orderQuantity}"></td>
                                    <td class="text-center" th:text="${orderRequest.totalPrice}"></td>
                                    <td class="text-center" th:text="${orderRequest.orderDate}"></td>
                                    <td class="text-center" th:text="${orderRequest.status}"></td>
                                    <td class="text-center">
                                        <div th:if="${orderRequest.status == 'ON_HOLD'}">
                                            <form method="post" th:action="@{/suppliers/orders/approve}">
                                                <input type="hidden" name="orderId" th:value="${orderRequest.orderId}">
                                                <button type="submit" class="main-btn btn-approve">수락</button>
                                            </form>
                                            <form method="post" th:action="@{/suppliers/orders/reject}">
                                                <input type="hidden" name="orderId" th:value="${orderRequest.orderId}">
                                                <button type="submit" class="main-btn btn-reject">거절</button>
                                            </form>
                                        </div>
                                        <span th:if="${orderRequest.status == 'APPROVAL'}" th:text="'승인 완료'"></span>
                                        <span th:if="${orderRequest.status == 'REJECT'}" th:text="'거절 완료'"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-wrapper">
                            <ul class="pagination">
                                <!-- 이전 페이지 버튼 -->
                                <li th:if="${currentOrderPage > 1}">
                                    <a th:href="@{/suppliers/page(page=${currentOrderPage - 1}, size=${size})}">&laquo;</a>
                                </li>

                                <!-- 페이지 번호 버튼 -->
                                <li th:each="i : ${#numbers.sequence(1, totalOrderPages)}">
                                    <a th:classappend="${i == currentOrderPage ? 'active' : ''}"
                                       th:href="@{/suppliers/page(page=${i}, size=${size})}"
                                       th:text="${i}"></a>
                                </li>

                                <!-- 다음 페이지 버튼 -->
                                <li th:if="${currentOrderPage < totalOrderPages}">
                                    <a th:href="@{/suppliers/page(page=${currentOrderPage + 1}, size=${size})}">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 진척 검수 테이블 -->
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <div id="inspectionTable">
                                <h3 class="table-title">진척 검수</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center"><h6>자재 이름</h6></th>
                                        <th class="text-center"><h6>수량</h6></th>
                                        <th class="text-center"><h6>검수 상태</h6></th>
                                        <th class="text-center"><h6>검수 완료</h6></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <div id="ExportTable">
                                <h3 class="table-title">출고 요청</h3>
                                <form method="post" th:action="@{/suppliers/importregisterbatch}" th:object="${ImportDTO}">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes(this)"> <!-- 전체 선택 -->
                                            </th>
                                            <th class="text-center"><h6>발주 번호</h6></th>
                                            <th class="text-center"><h6>자재 이름</h6></th>
                                            <th class="text-center"><h6>요청 수량</h6></th>
                                            <th class="text-center"><h6>요청일</h6></th>
                                            <th class="text-center"><h6>상태</h6></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="request : ${deliveryRequests}">
                                            <td class="text-center">
                                                <input type="checkbox" name="selectedRequests" th:value="${request.id}">
                                            </td>
                                            <td class="text-center" th:text="${request.orderCode}"></td>
                                            <input type="hidden" name="orderCode" th:value="${request.orderCode}">
                                            <td class="text-center" th:text="${request.materialName}"></td>
                                            <input type="hidden" name="materialName" th:value="${request.materialName}">
                                            <td class="text-center" th:text="${request.requestedQuantity}"></td>
                                            <input type="hidden" name="importQuantity" th:value="${request.requestedQuantity}">
                                            <td class="text-center" th:text="${request.requestedAt}"></td>
                                            <input type="hidden" name="expectedDate" th:value="${request.requestedAt}">
                                            <td class="text-center">
                                                <span th:if="${request.status == 'FINISHED'}">출고 완료</span>
                                                <span th:if="${request.status != 'FINISHED'}">요청 중</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- 일괄 출고 버튼 -->
                                    <div class="text-end mt-3">
                                        <button class="btn btn-primary" type="submit">일괄 출고</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 거래 명세서 -->
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <h3>거래 명세서</h3>
                            <table>
                                <thead>
                                <tr>
                                    <th>자재 이름</th>
                                    <th>단가</th>
                                    <th>수량</th>
                                    <th>총 가격</th>
                                    <th>거래 날짜</th>
                                    <th>상세 보기</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>[자재 이름]</td>
                                    <td>[단가]</td>
                                    <td>[수량]</td>
                                    <td>[총 가격]</td>
                                    <td>[거래 날짜]</td>
                                    <td><a href="#">상세 보기</a></td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- 거래 명세서 페이징 -->
                            <ul class="pagination">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            // 전체 선택/해제 스크립트
            function toggleAllCheckboxes(selectAll) {
                const checkboxes = document.querySelectorAll('input[name="selectedRequests"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = selectAll.checked;
                });
            }
        </script>
    </th:block>
</th:block>
</html>
