<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>기준 정보</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">기준 정보</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->

            <div class="tables-wrapper">
                <div class="row">
                    <!--생산계획코드 설명-->
                    <div class="col-lg-6">
                        <div class="card-style mb-30">
                            <h6 class="mb-10">생산계획코드</h6>
                            <table class="table">
                                <tr>
                                    <th><h6>분류</h6></th>
                                    <th><h6>제품</h6></th>
                                    <th><h6>생산등록년월</h6></th>
                                    <th><h6>일련번호</h6></th>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">PDP - production plan</td>
                                    <td style="vertical-align: top">
                                        <ul>
                                            <li>BA - 전기자전거A</li>
                                            <li>BB - 전기자전거B</li>
                                            <li>KB - 전동킥보드</li>
                                        </ul>
                                    </td>
                                    <td style="vertical-align: top">2401</td>
                                    <td style="vertical-align: top">001</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 생산계획코드 종료 -->
                    <!-- 자재코드 설명 -->
                    <div class="col-lg-6">
                        <div class="card-style mb-30">
                            <h6 class="mb-10">자재/상품코드</h6>
                            <table class="table">
                                <tr>
                                    <th><h6>분류</h6></th>
                                    <th><h6>공정</h6></th>
                                    <th><h6>특성</h6></th>
                                    <th><h6>일련번호</h6></th>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">MAT - material</td>
                                    <td style="vertical-align: top">
                                        <ul>
                                            <li>WH - 바퀴 조립</li>
                                            <li>RI - 림 조립</li>
                                            <li>HA - 핸들 조립</li>
                                            <li>SA - 안장 조립</li>
                                            <li>PE - 페달 조립</li>
                                            <li>BO - 바디 조립</li>
                                            <li>B1~3 - 자전거 조립</li>
                                            <li>K1~2 - 킥보드 조립</li>
                                        </ul>
                                    </td>
                                    <td style="vertical-align: top"> <ul>
                                        <li>MAT - 원자재</li>
                                        <li>SEM - 반제품(조립품)</li>
                                        <li>FIN - 완제품</li>
                                    </ul></td>
                                    <td style="vertical-align: top">001</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 자재코드 종료 -->
                </div>
            </div>
        </div>


    </th:block>
</th:block>