<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
            body {
                height: 3000px;
            }
            .col-lg-6 {
                margin: 20px auto -25px;
                width: 1625px;
                height: auto;
            }

            .mb-10 {
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 30px;
                margin-left: 10px;
            }

            thead {
                background-color: #ebebeb;
            }

            thead th:first-child {
                border-top-left-radius: 10px;
            }

            thead th:last-child {
                border-top-right-radius: 10px;
            }

            th, td {
                text-align: center;
            }

            .blue_botton {
                margin: auto 15px;
                width: 80px;
                height: 50px;
                border-radius: 8px;
            }

            .choice {
                margin: 5px;
                width: 80px;
                height: 50px;
                border-radius: 8px;
            }

            .select-position {
                width: 300px;
            }

            .search {
                margin-left: 15px;
                border: 1px solid #e5e5e5;;
                border-radius: 10px;
                width: 300px;
                height: 58px;
                position: relative;
            }

            .select-style-1 {
                display: flex;
                justify-content: space-between;
            }
            .search_tab {
                display: flex;
                justify-content: space-between;
            }

            .choice-column {
                width: 220px;
            }

            .how-ea {
                width: 100px;
            }


        </style>
        <div class="row">
            <div class="col-lg-6">
                <div class="card-style mb-30">
                    <div class="search_tab">
                        <h6 class="mb-10">입고 예정</h6>
                        <div class="select-style-1">
                            <div class="select-position">
                                <select>
                                    <option value="">품목코드</option>
                                    <option value="">Category one</option>
                                    <option value="">Category two</option>
                                    <option value="">Category three</option>
                                </select>

                            </div>
                            <input class="select-style-1, search" type="text" placeholder="     검색어를 입력하세요">
                            <a href="#0" class="main-btn active-btn btn-hover blue_botton">검색</a>
                        </div>
                    </div>

                    <div class="table-wrapper table-responsive">
                        <table class="table striped-table">
                            <thead>
                            <tr>
                                <th>
                                    <h5>발주 번호</h5>
                                </th>
                                <th>
                                    <h5>업체명</h5>
                                </th>
                                <th>
                                    <h5>품명</h5>
                                </th>
                                <th>
                                    <h5>발주일</h5>
                                </th>
                                <th>
                                    <h5>조달납기일</h5>
                                </th>
                                <th>
                                    <h5>재고</h5>
                                </th>
                                <th>
                                    <h5>발주수량</h5>
                                </th>
                                <th>
                                    <h5>입고수량</h5>
                                </th>
                                <th>
                                    <h5>선택목록</h5>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <a href="#0" class="main-btn active-btn btn-hover choice">검수이행</a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card-style mb-30">
                    <div class="search_tab">
                        <h6 class="mb-10">입고 검수</h6>
                        <div class="select-style-1">
                            <div class="select-position">
                                <select>
                                    <option value="">품목코드</option>
                                    <option value="">Category one</option>
                                    <option value="">Category two</option>
                                    <option value="">Category three</option>
                                </select>

                            </div>
                            <input class="select-style-1, search" type="text" placeholder="     검색어를 입력하세요">
                            <a href="#0" class="main-btn active-btn btn-hover blue_botton">검색</a>
                        </div>
                    </div>


                    <div class="table-wrapper table-responsive">
                        <table class="table striped-table">
                            <thead>
                            <tr>
                                <th>
                                    <h5>품명</h5>
                                </th>
                                <th>
                                    <h5>발주 수량</h5>
                                </th>
                                <th>
                                    <h5>입고 수량</h5>
                                </th>
                                <th>
                                    <h5>합격 수량</h5>
                                </th>
                                <th>
                                    <h5>발주 번호</h5>
                                </th>
                                <th>
                                    <h5>처리상태</h5>
                                </th>
                                <th class="choice-column">
                                    <h5>선택목록</h5>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>

                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <input class="how-ea" type="number">
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td class="choice-column">
                                        <a href="#0" class="main-btn active-btn btn-hover choice">검수완료</a>
                                        <a href="#0" class="main-btn danger-btn btn-hover choice">반품</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <input class="how-ea" type="number">
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td class="choice-column">
                                    <a href="#0" class="main-btn active-btn btn-hover choice">검수완료</a>
                                    <a href="#0" class="main-btn danger-btn btn-hover choice">반품</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card-style mb-30">
                    <div class="search_tab">
                        <h6 class="mb-10">입고 완료</h6>
                        <div class="select-style-1">
                            <div class="select-position">
                                <select>
                                    <option value="">품목코드</option>
                                    <option value="">Category one</option>
                                    <option value="">Category two</option>
                                    <option value="">Category three</option>
                                </select>

                            </div>
                            <input class="select-style-1, search" type="text" placeholder="     검색어를 입력하세요">
                            <a href="#0" class="main-btn active-btn btn-hover blue_botton">검색</a>
                        </div>
                    </div>
                    <div class="table-wrapper table-responsive">
                        <table class="table striped-table">
                            <thead>
                            <tr>
                                <th>
                                    <h5>발주 번호</h5>
                                </th>
                                <th>
                                    <h5>업체명</h5>
                                </th>
                                <th>
                                    <h5>품명</h5>
                                </th>
                                <th>
                                    <h5>발주일</h5>
                                </th>
                                <th>
                                    <h5>조달납기일</h5>
                                </th>
                                <th>
                                    <h5>재고</h5>
                                </th>
                                <th>
                                    <h5>발주수량</h5>
                                </th>
                                <th>
                                    <h5>입고수량</h5>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                                <td>
                                    <p>2024-11-11</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</th:block>
