<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>발주 진행 현황</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">발주 관리</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#0">발주 진행 현황</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->

            <!-- 구매 발주서 관리-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <form id="searchForm" method="get" th:action="@{/order/history}">
                            <div class="row" style="justify-content: space-between">
                                <div class="col-lg-5">
                                    <h3 class="mb-10">구매 발주 목록</h3>
                                    <p class="text-sm mb-20">
                                        발행한 발주 내용과 그 상태를 확인할 수 있습니다.
                                    </p>
                                </div>
                                <div class="select-style-1 col-lg-2">
                                    <div class="select-position">
                                        <select id="sizeSelect" name="size" onchange="changeSize()">
                                            <option th:selected="${pageSize==10}" value="10">10개씩 출력하기</option>
                                            <option th:selected="${pageSize==25}" value="25">25개씩 출력하기</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Hidden field to pass the type -->
                            <input name="type" th:value="orders" type="hidden"/>
                            <div class="row" style="justify-content: flex-end">
                                <div class="input-style-1 col-lg-4">
                                    <input id="searchKeyword" name="keyword"
                                           placeholder="업체명 또는 부품명 입력"
                                           th:value="${keyword}"
                                           type="text"/>
                                </div>
                                <div class="col-lg-1" style="min-width: 144px">
                                    <button class="main-btn primary-btn btn-hover ml-10" type="submit">
                                        검색
                                    </button>
                                </div>
                            </div>
                        </form>
                        <table class="table">
                            <tr>
                                <th class="text-center">
                                    <h6>발주서번호</h6>
                                </th>
                                <th class="text-center">
                                    <h6>조달계획번호</h6>
                                </th>
                                <th class="text-center">
                                    <h6>업체명</h6>
                                </th>
                                <th class="text-center">
                                    <h6>품목명</h6>
                                </th>
                                <th class="text-center">
                                    <h6>발주 수량</h6>
                                </th>
                                <th class="text-center">
                                    <h6>납품 수량</h6>
                                </th>
                                <th class="text-center">
                                    <h6>합계 금액</h6>
                                </th>
                                <th class="text-center">
                                    <h6>발주일</h6>
                                </th>
                                <th class="text-center">
                                    <h6>입고 예정일</h6>
                                </th>
                                <th class="text-center">
                                    <h6>진척 검수</h6>
                                </th>
                                <th class="text-center">
                                    <h6>발주 상태</h6>
                                </th>
                                <th class="text-center">
                                    <h6>발주서</h6>
                                </th>
                            </tr>
                            <!-- end table row-->

                            <tr th:each="orders : ${orders}">
                                <td class="text-center"><p>[[${orders.orderCode}]]</p></td>
                                <td class="text-center"><p>[[${orders.procurePlanCode}]]</p></td>
                                <td class="text-center"><p>[[${orders.supplierName}]]</p></td>
                                <td><p>[[${orders.materialName}]]</p></td>
                                <td class="text-align-right"><p>[[${orders.orderQuantity}]]</p></td>
                                <td class="text-align-right"><p title="받은 수량 + 납품 지시 중인 수량(납품 지시중인 수량)">[[${orders.orderQuantity - orders.remainedQuantity}]]([[${orders.deliveryQuantity}]])</p></td>
                                <td class="text-align-right"><p>[[${#numbers.formatInteger(orders.totalPrice, 3,
                                    'COMMA')}]]</p></td>
                                <td class="text-center"><p>[[${orders.orderDate}]]</p></td>
                                <td class="text-center"><p>[[${orders.expectedDate}]]</p></td>
                                <td class="text-center">
                                    <p th:if="${orders.materialType=='제조품'}">[[${orders.finishedInspection}]]/[[${orders.totalInspection}]]</p>
                                    <p th:if="${orders.materialType!='제조품'}">-</p>
                                </td>
                                <td class="text-center">
                                    <span class="status-btn success-btn" th:if="${orders.status=='ON_HOLD'}">대기 중</span>
                                    <span class="status-btn active-btn" th:if="${orders.status=='NOT_REMAINING'}">전부 납품지시함</span>
                                    <span class="status-btn active-btn" th:if="${orders.status=='DELIVERED'}">전부 배송됨</span>
                                    <span class="status-btn active-btn"
                                          th:if="${orders.status=='APPROVAL'}">승인 완료</span>
                                    <span class="status-btn close-btn" th:if="${orders.status=='FINISHED'}">종료</span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary"
                                       href="javascript:void(0);"
                                       th:onclick="window.open('/order/detail/[[${orders.orderCode}]]', '발주서', 'width=1200, height=800, resizable=yes')">상세보기</a>
                                </td>
                            </tr>
                            <!-- end table row -->
                        </table>
                        <div class="pagination-wrapper">
                            <ul class="pagination">
                                <li th:if="${currentPage > 1}">
                                    <a aria-label="Previous"
                                       th:href="@{/order/history(page=${currentPage - 1}, size=${pageSize}, keyword=${keyword}, type=${type})}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                                    <a th:classappend="${i == currentPage ? 'active' : ''}"
                                       th:if="${(currentPage/10)*10 <= i and i<=(currentPage/10 +1)*10}"
                                       th:href="@{/order/history(page=${i}, size=${pageSize}, keyword=${keyword}, type=${type})}"
                                       th:text="${i}"></a>
                                </li>
                                <li th:if="${currentPage < totalPages}">
                                    <a aria-label="Next"
                                       th:href="@{/order/history(page=${currentPage + 1}, size=${pageSize}, keyword=${keyword}, type=${type})}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>

            var searchForm = $("#searchForm");

            //size를 결정하면 거기에 맞춰서 출력
            function changeSize() {
                searchForm.submit();
            }

        </script>
    </th:block>
</th:block>