<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 발주 품목 선택 -->
        <div class="row mt-20">
            <div class="col-lg-6">
                <div class="card-style mb-30">
                    <h3 class="mb-10">발주 품목 선택</h3>
                    <p class="text-sm mb-20">
                        현재 진행되고 있는 조달계획과 관련된 품목들입니다.
                    </p>
                    <div class="table-wrapper table-responsive">
                        <div class="row">
                            <form method="get" th:action="@{/order/list}">
                                <div class="row">
                                    <div class="input-style-1 col-lg-5">
                                        <input id="searchKeyword" name="keyword"
                                               placeholder="공급사 또는 부품명을 입력하세요." th:value="${keyword}"
                                               type="text"/>
                                    </div>
                                    <div>
                                        <button class="main-btn primary-btn btn-hover ml-10" type="submit">검색</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th><h6>조달계획번호</h6></th>
                                <th><h6>업체명</h6></th>
                                <th><h6>품목명</h6></th>
                                <th><h6>조달 수량</h6></th>
                                <th><h6>조달 납기일</h6></th>
                                <th><h6>선택</h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="procure : ${procure}">
                                <td class="min-width text-center"><p th:text="${procure.procurePlanCode}"></p></td>
                                <td class="min-width text-center"><p th:text="${procure.supplierName}"></p></td>
                                <td class="min-width text-center"><p th:text="${procure.materialName}"></p></td>
                                <td class="min-width text-center"><p th:text="${procure.procurementQuantity}"></p></td>
                                <td class="min-width text-center"><p th:text="${procure.procurementDueDate}"></p></td>
                                <td>
                                    <button class="main-btn primary-btn btn-hover">선택</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper">
                            <ul class="pagination">
                                <li th:if="${currentPage > 1}">
                                    <a aria-label="Previous"
                                       th:href="@{/order/list(page=${currentPage - 1}, size=${pageSize}, keyword=${keyword})}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                                    <a th:classappend="${i == currentPage ? 'active' : ''}"
                                       th:href="@{/order/list(page=${i}, size=${pageSize}, keyword=${keyword})}"
                                       th:text="${i}"></a>
                                </li>
                                <li th:if="${currentPage < totalPages}">
                                    <a aria-label="Next"
                                       th:href="@{/order/list(page=${currentPage + 1}, size=${pageSize}, keyword=${keyword})}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 발주서 작성 -->
            <div class="col-lg-6">
                <div class="card-style mb-30">
                    <h3 class="mb-10">발주서 작성</h3>
                    <p class="text-sm mb-20">
                        발주서 작성 후 버튼을 누르시면 발주서가 등록됩니다.
                    </p>
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <tr>
                                <th colspan="4">공급자 정보</th>
                            </tr>
                            <tr>
                                <th>업체명</th>
                                <td>WB사</td>
                                <th>사업자 번호</th>
                                <td>123-12-12345</td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td colspan="3">경기도 수원시 장안구</td>
                            </tr>
                            <tr>
                                <th>발주일</th>
                                <td>24.11.13</td>
                                <th>담당자</th>
                                <td>김현식</td>
                            </tr>
                        </table>
                        <table class="table">
                            <tr>
                                <th colspan="6">품목 정보</th>
                            </tr>
                            <tr>
                                <th>품목명</th>
                                <th>단가</th>
                                <th>수량</th>
                                <th>공급가</th>
                                <th>입고 예정일</th>
                            </tr>
                            <tr>
                                <td>시티 바이시클 40mm패드 무통안장</td>
                                <td>15,500</td>
                                <td><input type="number" value="50"></td>
                                <td>775,000</td>
                                <td>24.11.15</td>
                            </tr>
                        </table>
                        <table class="table">
                            <tr>
                                <th>비고</th>
                                <td><input type="text"></td>
                                <th>합계</th>
                                <td>₩775,000</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <button class="main-btn primary-btn btn-hover">발주서 등록</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 구매 발주서 관리 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="mb-10">구매 발주서 목록</h3>
                            <p class="text-sm mb-20">
                                발주가 완료되어 진행중인 목록입니다.
                            </p>
                        </div>
                        <div class="row">
                            <div class="select-style-1 col-lg-3">
                                <div class="select-position">
                                    <select>
                                        <option value="">품목코드</option>
                                        <option value="">Category one</option>
                                        <option value="">Category two</option>
                                        <option value="">Category three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-style-1 col-lg-6">
                                <input class="select-style-1 search" placeholder="검색어를 입력하세요" type="text">
                            </div>
                            <div class="col-lg-3">
                                <a class="main-btn active-btn btn-hover" href="#0">검색</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>조달계획번호</th>
                                <th>업체명</th>
                                <th>품목명</th>
                                <th>발주일</th>
                                <th>입고 예정일</th>
                                <th>발주 상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PL-004</td>
                                <td class="min-width">시마노</td>
                                <td class="min-width">RD-R8150 (12단) di2 뒷변속기</td>
                                <td class="min-width">24.11.12</td>
                                <td class="min-width">24.11.14</td>
                                <td>
                                    <div class="action">
                                        <span class="status-btn active-btn">배송중</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <a class="main-btn primary-btn btn-hover">1</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
