<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>진척 검수 관리</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">발주 관리</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#0">진척 검수 요청</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->
            <div class="row">
                <!-- 첫 번째 카드 -->
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="mb-10">발주 승인된 제조품 리스트</h3>
                                <p class="text-sm mb-20">
                                    제조품에 한해 공급업체에 진척 검수를 요청할 수 있습니다.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <form method="get" th:action="@{/order/inspection}">
                                    <!-- Hidden field to pass the type -->
                                    <input name="type" th:value="orders" type="hidden"/>
                                    <div class="row" style="justify-content: flex-end">
                                        <div class="input-style-1 col-lg-8">
                                            <input id="searchKeyword" name="keyword"
                                                   placeholder="업체명 또는 부품명 입력"
                                                   th:value="${keyword}"
                                                   type="text"/>
                                        </div>
                                        <div class="col-lg-1" style="min-width: 144px">
                                            <button class="main-btn primary-btn btn-hover ml-10" type="submit">
                                                검색
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><h6>발주 번호</h6></th>
                                    <th class="text-center"><h6>공급 업체</h6></th>
                                    <th class="text-center"><h6>부품 종류</h6></th>
                                    <th class="text-center"><h6>자재 이름</h6></th>
                                    <th class="text-center"><h6>발주일</h6></th>
                                    <th class="text-center"><h6>조달납기일</h6></th>
                                    <th class="text-center"><h6>수량</h6></th>
                                    <th class="text-center"><h6>진척 검수 횟수</h6></th>
                                    <th class="text-center"><h6>선택</h6></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderM : ${manufacturingOrders}"
                                    th:unless="${manufacturingOrders.isEmpty()}">
                                    <td class="min-width text-center" th:text="${orderM.orderCode}"></td>
                                    <td class="min-width text-center" th:text="${orderM.supplierName}"></td>
                                    <td class="min-width text-center" th:text="${orderM.materialType}"></td>
                                    <td class="min-width" th:text="${orderM.materialName}"></td>
                                    <td class="min-width text-center" th:text="${orderM.orderDate}"></td>
                                    <td class="min-width text-center" th:text="${orderM.expectedDate}"></td>
                                    <td class="min-width text-center" th:text="${orderM.orderQuantity}"></td>
                                    <td class="min-width text-center">
                                        [[${orderM.finishedInspection}]]/[[${orderM.totalInspection}]]
                                    </td>
                                    <td class="min-width text-center">

                                        <a class="main-btn primary-btn btn-hover" style="padding: 12px"
                                           th:href="@{/order/inspection(orderCode=${orderM.orderCode})}">선택
                                        </a>

                                    <td>
                                </tr>
                                <tr th:if="${manufacturingOrders.isEmpty()}">
                                    <td class="text-center" colspan="8">조회된 제조품이 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pagination-wrapper">
                                <ul class="pagination">
                                    <!-- 이전 페이지 버튼 -->
                                    <li th:if="${manufacturingCurrentPage > 1}">
                                        <a th:href="@{/order/inspection(page=${manufacturingCurrentPage - 1}, size=${size})}">&laquo;</a>
                                    </li>

                                    <!-- 페이지 번호 버튼 -->
                                    <li th:each="i : ${#numbers.sequence(1, manufacturingTotalPages)}">
                                        <a th:classappend="${i == manufacturingCurrentPage ? 'active' : ''}"
                                           th:href="@{/order/inspection(page=${i}, size=${size})}"
                                           th:text="${i}"></a>
                                    </li>

                                    <!-- 다음 페이지 버튼 -->
                                    <li th:if="${manufacturingCurrentPage < manufacturingTotalPages}">
                                        <a th:href="@{/order/inspection(page=${manufacturingCurrentPage + 1}, size=${size})}">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 두 번째 카드 -->
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h3 class="mb-10">선택된 발주서에 대한 진척 검수 목록</h3>
                        <p class="text-sm mb-20">
                            선택된 발주서에 대해 현재 요청해둔 진척 검수 목록입니다. 진척 검수는 총 3번까지 요청할 수 있습니다.
                        </p>
                        <form method="post" th:action="@{/order/inspectionRegister}">
                            <th:block th:if="${orderDTO!=null}">
                                <div class="row">
                                    <div class="col-lg-2 input-style-1">
                                        <label>발주 번호</label>
                                        <input name="orderCode" placeholder="발주 번호" readonly
                                               th:value="${orderDTO.orderCode}" type="text">
                                    </div>
                                    <div class="col-lg-2 input-style-1">
                                        <label>공급 업체</label>
                                        <input name="supplierName" placeholder="공급 업체" readonly
                                               th:value="${orderDTO.supplierName}" type="text">
                                    </div>
                                    <div class="col-lg-4 input-style-1">
                                        <label>발주 자재</label>
                                        <input name="materialName" placeholder="발주 자재" readonly
                                               th:value="${orderDTO.materialName}" type="text">
                                    </div>
                                    <div class="col-lg-2 input-style-1">
                                        <label>발주 수량</label>
                                        <input name="orderQuantity" placeholder="발주 수량" readonly
                                               th:value="${orderDTO.orderQuantity}" type="number">
                                    </div>
                                    <div class="col-lg-2 input-style-1">
                                        <label>조달 납기일</label>
                                        <input readonly th:value="${orderDTO.expectedDate}" type="date">
                                    </div>
                                </div>
                                <div class="row" style="justify-content: flex-end">
                                    <div class="col-lg-4 input-style-1">
                                        <label>검수 요청 날짜</label>
                                        <input name="inspectionDate" type="date">
                                    </div>
                                    <div class="col-lg-1 input-style-1" style="min-width: 172px">
                                        <label>&nbsp;</label>
                                        <th:block th:if="${orderDTO.totalInspection>=3}">
                                            <button class="main-btn btn-hover disabled" disabled>검수 요청</button>
                                        </th:block>
                                        <th:block th:if="${orderDTO.totalInspection<3}">
                                            <button class="main-btn primary-btn btn-hover" type="submit">검수 요청</button>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                        </form>
                        <table class="table">
                            <tr>
                                <th class="text-center"><h6>진척 검수 차수</h6></th>
                                <th class="text-center"><h6>진척 검수 수량</h6></th>
                                <th class="text-center"><h6>남은 수량</h6></th>
                                <th class="text-center"><h6>검수 요청 날짜</h6></th>
                                <th class="text-center"><h6>검수 상태</h6></th>
                            </tr>
                            <tr th:each="inspection : ${inspectionDTOS}">
                                <td class="text-center" th:text="${inspection.inspectionRound}"></td>
                                <td class="text-center">
                                    <th:block th:if="${inspection.inspectionQuantity!=null}">
                                        [[${inspection.inspectionQuantity}]]
                                    </th:block>
                                    <th:block th:if="${inspection.inspectionQuantity==null}">
                                        아직 검수가 진행되지 않았습니다.
                                    </th:block>
                                </td>
                                <td class="text-center" th:text="${inspection.remainingQuantity}"></td>
                                <td class="text-center" th:text="${inspection.inspectionDate}"></td>
                                <td class="text-center">
                                    <span class="status-btn success-btn"
                                          th:if="${inspection.status=='ON_HOLD'}">대기 중</span>
                                    <span class="status-btn close-btn"
                                          th:if="${inspection.status=='FINISHED'}">검수 완료</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>
