<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <!-- ========== section start ========== -->
        <section class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title">
                                <h2>프로필 정보</h2>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">
                                            프로필
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->
                <form id="UpdateProfileForm" method="post" th:object="${userDTO}" th:action="@{/update}">
                    <div class="row">
                        <!-- 왼쪽 카드 -->
                        <div class="col-lg-6">
                            <div class="card-style settings-card-1 mb-30">
                                <div class="title mb-30 d-flex justify-content-between align-items-center">
                                    <h6>내 정보</h6>
                                </div>
                                <div class="profile-info">
                                    <div class="d-flex align-items-center mb-30">
                                        <div class="profile-image">
                                            <!-- 이미지 관련 코드 생략 -->
                                        </div>
                                        <div class="profile-meta">
                                            <h5 class="text-bold text-dark mb-10" th:text="'ID : ' + ${userDTO.userId}"></h5>
                                            <input type="hidden" name="userId" th:value="${userDTO.userId}">
                                            <p class="small created-date" th:text="'계정 가입일 : ' + ${userDTO.createdDate}"></p>
                                            <p class="small modified-date" th:text="'마지막 정보 수정일 : ' + ${userDTO.modifiedDate}"></p>
                                        </div>
                                    </div>
                                    <div class="input-style-1">
                                        <label>이메일</label>
                                        <input type="email" th:field="*{email}" required />
                                    </div>
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            <label>이름</label>
                                            <input type="text" name="username" th:field="*{username}" th:value="${userDTO.username}" required />
                                        </div>
                                    </div>

                                    <div class="col-12" style="display: flex; justify-content: center;">
                                        <a href="/password/{id}" type="button" class="main-btn primary-btn btn-hover">
                                            비밀번호 변경
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 오른쪽 카드 -->
                        <div class="col-lg-6">
                            <div class="card-style settings-card-2 mb-30">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            <label>회사명</label>
                                            <input type="text" disabled
                                                   th:if="${userDTO != null}"
                                                   th:value="${userDTO.userType.name() == 'ADMIN' ? 'DG전동 관리자'
                                             : userDTO.userType.name() == 'PURCHASE_DEPT' ? 'DG전동 구매부서'
                                             : userDTO.userType.name() == 'MATERIAL_DEPT' ? 'DG전동 자재부서'
                                             : userDTO.userType.name() == 'PRODUCTION_DEPT' ? 'DG전동 생산부서'
                                             : userDTO.userType.name() == 'PARTNER' ? '승인되지 않은 업체'
                                             : userDTO.username}" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            <label>연락처</label>
                                            <div style="display: flex; gap: 5px;">
                                                <input type="tel" id="phone1" maxlength="3" th:value="*{phone}" required
                                                       style="width: 25%; text-align: center;" pattern="\d{3}">
                                                <span style="align-self: center;">-</span>
                                                <input type="tel" id="phone2" maxlength="4" th:value="*{phone}" required
                                                       style="width: 37.5%; text-align: center;" pattern="\d{4}">
                                                <span style="align-self: center;">-</span>
                                                <input type="tel" id="phone3" maxlength="4" th:value="*{phone}" required
                                                       style="width: 37.5%; text-align: center;" pattern="\d{4}">
                                            </div>
                                            <input type="hidden" name="phone" id="phone" th:field="*{phone}">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-style-1" >
                                            <label>주소</label>
                                            <input type="text" id="sample3_postcode" placeholder="우편번호" th:field="*{userAddress}">
                                            <div style="display: flex; justify-content: center;">
                                                <button type="button" style="margin: 20px" class="main-btn primary-btn btn-hover inline-button" onclick="sample3_execDaumPostcode()">
                                                    우편번호 찾기
                                                </button>
                                            </div>

                                            <input type="text" id="sample3_address" placeholder="주소" th:field="*{userAddress}"><br>
                                            <input type="text" id="sample3_detailAddress" placeholder="상세주소"
                                                   th:field="*{userAddress}">
                                            <input type="text" id="sample3_extraAddress" placeholder="참고항목"
                                                   th:field="*{userAddress}">
                                            <div id="wrap"
                                                 style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                                                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                                                     style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                                                     onclick="foldDaumPostcode()" alt="접기 버튼">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 폼 제출 버튼 -->
                    <div class="col-12" style="text-align: center; margin-top: 20px;">
                        <button type="submit" class="main-btn primary-btn btn-hover">
                            프로필 수정
                        </button>
                    </div>
                </form>

                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- ========== section end ========== -->


        <!-- ========== title-wrapper end ========== -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>

            // 페이지 로드 시 실행 ( 데이터 파싱 )
            window.onload = function () {
                // userAddress 값을 가져옴
                const userAddress = document.getElementById("sample3_postcode").value;

                // userAddress를 컴마(,)로 나눔
                const parts1 = userAddress.split(',');

                // 각 입력 필드에 값 설정
                if (parts1.length > 0) document.getElementById("sample3_postcode").value = parts1[0].trim(); // 우편번호
                if (parts1.length > 1) document.getElementById("sample3_address").value = parts1[1].trim(); // 주소
                if (parts1.length > 2) document.getElementById("sample3_detailAddress").value = parts1[2].trim(); // 상세주소
                if (parts1.length > 3) document.getElementById("sample3_extraAddress").value = parts1[3].trim(); // 참고항목


                // phone 값을 가져옴
                const phone = document.getElementById("phone1").value;

                // phone를 마이너스(-)로 나눔
                const parts2 = phone.split('-');

                // 각 입력 필드에 값 설정
                if (parts2.length > 0)document.getElementById("phone1").value = parts2[0].trim();
                if (parts2.length > 1)document.getElementById("phone2").value = parts2[1].trim();
                if (parts2.length > 2)document.getElementById("phone3").value = parts2[2].trim();

                // 계정 가입일과 마지막 수정일 포맷팅
                const createdDateElement = document.querySelector(".created-date");
                const modifiedDateElement = document.querySelector(".modified-date");

                if (createdDateElement) {
                    const parts3 = createdDateElement.textContent.trim().split('T')[0].split('-');
                    createdDateElement.textContent = `${parts3[0]}년 ${parts3[1]}월 ${parts3[2]}일`;
                }

                if (modifiedDateElement) {
                    const parts4 = modifiedDateElement.textContent.trim().split('T')[0].split('-');
                    modifiedDateElement.textContent = `${parts4[0]}년 ${parts4[1]}월 ${parts4[2]}일`;
                }

            };

            // 우편번호 찾기 찾기 화면을 넣을 element
            var element_wrap = document.getElementById('wrap');

            function foldDaumPostcode() {
                // iframe을 넣은 element를 안보이게 한다.
                element_wrap.style.display = 'none';
            }

            function sample3_execDaumPostcode() {
                // 현재 scroll 위치를 저장해놓는다.
                var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("sample3_extraAddress").value = extraAddr;

                        } else {
                            document.getElementById("sample3_extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample3_postcode').value = data.zonecode;
                        document.getElementById("sample3_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample3_detailAddress").focus();

                        // iframe을 넣은 element를 안보이게 한다.
                        // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                        element_wrap.style.display = 'none';

                        // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                        document.body.scrollTop = currentScroll;
                    },
                    // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                    onresize: function (size) {
                        element_wrap.style.height = size.height + 'px';
                    },
                    width: '100%',
                    height: '100%'
                }).embed(element_wrap);

                // iframe을 넣은 element를 보이게 한다.
                element_wrap.style.display = 'block';
            }


            // 각 입력 필드에서 숫자만 입력 가능하도록 제한하고, 입력 완료 시 다음 칸으로 포커스 이동
            document.addEventListener("DOMContentLoaded", function () {
                const phone1 = document.getElementById("phone1");
                const phone2 = document.getElementById("phone2");
                const phone3 = document.getElementById("phone3");
                const phoneHidden = document.getElementById("phone");

                const inputs = [phone1, phone2, phone3];

                inputs.forEach((input, index) => {
                    input.addEventListener("input", (event) => {
                        // 숫자만 허용
                        input.value = input.value.replace(/\D/g, "");

                        // 최대 글자수에 도달하면 다음 칸으로 포커스 이동
                        if (input.value.length === input.maxLength && index < inputs.length - 1) {
                            inputs[index + 1].focus();
                        }

                        // 입력값 합쳐서 hidden input에 저장
                        phoneHidden.value = `${phone1.value}-${phone2.value}-${phone3.value}`;
                    });
                });
            });
        </script>
    </th:block>
</th:block>