<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<!-- ========== title-wrapper end ========== -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <div class="row">
                <div class="col-lg-6" style="text-align: center">
                    <h3 class="mb-0">거래 명세서</h3>
                    <p class="text-sm mb-50">
                        (공급 받는 자 보관용)
                    </p>
                    <h4 class="mb-30">DG전동 귀하</h4>
                    <table class="table" style="text-align: center">
                        <tr>
                            <th><h6>거래일자</h6></th>
                            <td>2024.11.13</td>
                        </tr>
                        <tr>
                            <th colspan="2"><h6>하기와 같이 계산합니다.</h6></th>
                        </tr>
                    </table>
                </div>
                <div class="table-wrapper col-lg-6">
                    <table class="table">
                        <tr style="text-align: center">
                            <th colspan="4">공급자</th>
                        </tr>
                        <tr>
                            <th><h6>상호</h6></th>
                            <td th:text="${supplier2.supplierName}"></td>
                        </tr>
                        <tr>
                            <th><h6>사업자 등록 번호</h6></th>
                            <td th:text="${supplier2.Busi}"></td>
                        </tr>
                        <tr>
                            <th><h6>주소</h6></th>
                            <td colspan="3"><p>경기도 화성시 반월동</p></td>
                        </tr>
                        <tr>
                            <th><h6>연락처</h6></th>
                            <td colspan="3"><p>000-0000-0000</p></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <table class="table" style="background-color: lightgrey">
                <tr>
                    <td class="min-width" style="padding-left: 20px ; padding-top: 0">합계(공급가액 + 세액)
                        :
                    </td>
                    <td class="min-width" style="text-align: right; padding-top: 0">₩55,000,000</td>
                </tr>
            </table>
            <hr>
            <div class="table-wrapper table-responsive">
                <table class="table" style="text-align: right">
                    <thead>
                    <tr style="text-align: center">
                        <th>
                            <h6>일자</h6>
                        </th>
                        <th>
                            <h6>품목명[규격]</h6>
                        </th>
                        <th>
                            <h6>수량(단위 포함)</h6>
                        </th>
                        <th>
                            <h6>단가</h6>
                        </th>
                        <th>
                            <h6>공급가액</h6>
                        </th>
                        <th>
                            <h6>부가세</h6>
                        </th>
                    </tr>
                    <!-- end table row-->
                    </thead>
                    <tbody>
                    <tr>
                        <td class="min-width" style="text-align: center">
                            <p>11/24</p>
                        </td>
                        <td class="min-width" style="text-align: left">
                            <p>XRB 엑스라이더 LG KTX배터리팩 48V 15Ah</p>
                        </td>
                        <td class="min-width">
                            <p>100EA</p>
                        </td>
                        <td class="min-width">
                            <p>500,000</p>
                        </td>
                        <td class="min-width">
                            <p>500,000</p>
                        </td>
                        <td class="min-width">
                            <p>50,000</p>
                        </td>
                    </tr>

                    <!-- end table row -->
                    <tr>
                        <td colspan="6">

                        </td>
                    </tr>
                    <!-- end table row -->
                    </tbody>
                </table>
                <table class="table" style="text-align: right">
                    <tbody>
                    <tr>
                        <th><h6>수량</h6></th>
                        <td><p>100</p></td>
                        <th><h6>공급가액</h6></th>
                        <td><p>50,000,000</p></td>
                        <th><h6>VAT</h6></th>
                        <td><p>5,000,000</p></td>
                        <th><h6>합계</h6></th>
                        <td><p>₩55,000,000</p></td>
                        <th><h6>인수자</h6></th>
                        <td><p>윤하늘</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
