<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>생산 계획 관리</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/plan/list}">생산 계획 관리</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->

            <div class="row">
                <!-- 생산계획 리스트 -->
                <div class="col-lg-8">
                    <div class="card-style mb-30">
                        <h3 class="mb-10">등록된 생산 계획 목록</h3>
                        <p class="text-sm mb-20">현재 등록되어 있는 생산 계획 목록입니다. 오른쪽의 폼을 통해 생산 계획을 등록하면 이곳에 추가됩니다.</p>
                        <!-- 생산계획 검색창 -->
                        <form method="get" th:action="@{/plan/list}">
                            <div class="row" style="justify-content: flex-end">
                                <div class="input-style-1 col-lg-5">
                                    <input id="searchKeyword" name="keyword"
                                           placeholder="제품명을 입력하세요" th:value="${keyword}"
                                           type="text"/>
                                </div>
                                <div style="width: 144px">
                                    <button class="main-btn primary-btn btn-hover ml-10" type="submit">검색</button>
                                </div>
                            </div>
                        </form>
                        <!-- 생산계획 리스트 출력 -->
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><h6>생산 계획 코드</h6></th>
                                    <th class="text-center"><h6>생산 시작 날짜</h6></th>
                                    <th class="text-center"><h6>생산 종료 날짜</h6></th>
                                    <th class="text-center"><h6>생산 제품 코드</h6></th>
                                    <th class="text-center"><h6>생산 제품명</h6></th>
                                    <th class="text-center"><h6>생산 수량</h6></th>
                                    <th class="text-center"><h6>수정</h6></th>
                                    <th class="text-center"><h6>삭제</h6></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="plan : ${plans}">
                                    <td class="min-width text-center"><p th:text="${plan.productionPlanCode}"></p></td>
                                    <td class="min-width text-center"><p th:text="${plan.productionStartDate}"></p></td>
                                    <td class="min-width text-center"><p th:text="${plan.productionEndDate}"></p></td>
                                    <td class="min-width text-center"><p th:text="${plan.productCode}"></p></td>
                                    <td class="min-width text-center"><p th:text="${plan.productName}"></p></td>
                                    <td class="min-width text-align-right"><p th:text="${plan.productionQuantity}"></p></td>
                                    <td class="min-width  text-center">
                                        <a class="main-btn primary-btn btn-hover"
                                           style="padding: 6px" th:href="@{/plan/edit/{id}(id=${plan.planId})}">
                                            수정
                                        </a>
                                    </td>
                                    <td class="min-width  text-center">
                                        <a class="main-btn danger-btn btn-hover"
                                           onclick="return confirm('정말 삭제하시겠습니까?');" style="padding: 6px"
                                           th:href="@{/plan/delete/{id}(id=${plan.planId})}">
                                            삭제
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="pagination-wrapper">
                                <ul class="pagination">
                                    <li th:if="${currentPage > 1}">
                                        <a aria-label="Previous"
                                           th:href="@{/plan/list(page=${currentPage - 1}, size=${pageSize}, keyword=${keyword})}">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <a th:classappend="${i == currentPage ? 'active' : ''}"
                                           th:href="@{/plan/list(page=${i}, size=${pageSize}, keyword=${keyword})}"
                                           th:text="${i}"></a>
                                    </li>
                                    <li th:if="${currentPage < totalPages}">
                                        <a aria-label="Next"
                                           th:href="@{/plan/list(page=${currentPage + 1}, size=${pageSize}, keyword=${keyword})}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 등록/수정 폼 -->
                <div class="col-lg-4">
                    <div class="card-style mb-30">
                        <form method="post" th:action="@{/plan/save}" th:object="${productionPlanDTO}">
                            <!-- Hidden field to determine register/update -->
                            <input id="planId" th:field="*{planId}" type="hidden">

                            <h3 class="mb-25">생산 계획 등록</h3>
                            <div class="input-style-1">
                                <label>생산 시작 날짜</label>
                                <input id="startDate" required th:field="*{productionStartDate}" type="date">
                            </div>
                            <div class="input-style-1">
                                <label>생산 종료 날짜</label>
                                <input id="endDate" required th:field="*{productionEndDate}" type="date">
                            </div>
                            <div class="select-style-1">
                                <label>생산 제품명</label>
                                <div class="select-position" required>
                                    <select id="productSelect" onchange="updateProductCode()" th:field="*{productName}">
                                        <option value="전기자전거A">전기자전거A</option>
                                        <option value="전기자전거B">전기자전거B</option>
                                        <option value="전동킥보드">전동킥보드</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-style-1">
                                <label>생산 제품 코드</label>
                                <input id="productCode" readonly th:field="*{productCode}" type="text">
                            </div>
                            <div class="input-style-1">
                                <label>생산 수량</label>
                                <input id="quantity" required th:field="*{productionQuantity}" type="number">
                            </div>
                            <div style="text-align: right">
                                <button class="main-btn primary-btn btn-hover">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // 제품 선택 시 제품 코드 자동 갱신
            function updateProductCode() {
                const productMapping = {
                    "전기자전거A": "MATB3FIN001",
                    "전기자전거B": "MATB3FIN002",
                    "전동킥보드" : "MATK2FIN001"
                };

                const productSelect = document.getElementById("productSelect");
                const productCodeInput = document.getElementById("productCode");
                productCodeInput.value = productMapping[productSelect.value] || '';
            }

            document.addEventListener("DOMContentLoaded", function () {
                updateProductCode();
            });
        </script>
    </th:block>
</th:block>
