<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>생산 계획 수정</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/plan/list}">생산 계획 관리</a>
                                    </li>
                                    <li class="breadcrumb-item active">수정</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->

            <div class="row">
                <!-- 수정 폼 -->
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <form method="post" th:action="@{/plan/save}" th:object="${productionPlanDTO}">
                            <input th:field="*{planId}" type="hidden">
                            <input th:field="*{productionPlanCode}" type="hidden">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="mb-25">생산 계획 수정</h3>
                                    <p class="text-sm mb-20">
                                        시작일과 종료일의 차이는 일주일을 넘어가지 않게 해주세요.
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-2 input-style-1">
                                            <label>생산 시작 일자</label>
                                            <input id="startDate" name="productionStartDate" onchange="addDate()"
                                                   required
                                                   th:value="*{productionStartDate}" type="date">
                                        </div>
                                        <div class="col-lg-2 input-style-1">
                                            <label>생산 종료 일자</label>
                                            <input id="endDate" name="productionEndDate" onchange="addDate()"
                                                   required
                                                   th:value="*{productionEndDate}" type="date">
                                        </div>
                                        <div class="col-lg-3 input-style-1">
                                            <label>생산 제품명</label>
                                            <input readonly th:field="*{productName}" type="text">
                                        </div>
                                        <!--                                        <div class="col-lg-3 select-style-1">-->
                                        <!--                                            <label>생산 제품명</label>-->
                                        <!--                                            <div class="select-position">-->
                                        <!--                                                <select id="productSelect" onchange="updateProductCode()" -->
                                        <!--                                                        th:field="*{productName}">-->
                                        <!--                                                    <option value="전기자전거A">전기자전거A</option>-->
                                        <!--                                                    <option value="전기자전거B">전기자전거B</option>-->
                                        <!--                                                    <option value="전동킥보드">전동킥보드</option>-->
                                        <!--                                                </select>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <div class="col-lg-3 input-style-1">
                                            <label>생산 제품 코드</label>
                                            <input id="productCode" readonly th:field="*{productCode}" type="text">
                                        </div>
                                        <div class="col-lg-2 input-style-1">
                                            <label>생산 수량</label>
                                            <input id="changedQuantity" readonly required
                                                   th:field="*{productionQuantity}" type="number">
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div id="productionDate">
                                <div class="row">
                                    <div class="col-lg-6" th:each="perDay:${perDayDTOS}">
                                        <div class="row productionDateRow">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly
                                                       th:value="${perDay.getProductionDate()}"
                                                       type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPast" th:value="${perDay.productionQuantity}"
                                                       type="hidden">
                                                <input name="quantityPerDay" onchange="sumQuantity()"
                                                       th:value="${perDay.productionQuantity}"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 첫번째 줄-->
                                    <div class="col-lg-6">
                                        <div class="row productionDateRow" style="display: none">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPerDay" onchange="sumQuantity()" type="number"
                                                       value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 두번째 줄-->
                                    <div class="col-lg-6">
                                        <div class="row productionDateRow" style="display: none">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPerDay" onchange="sumQuantity()" type="number"
                                                       value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 세번째 줄-->
                                    <div class="col-lg-6">
                                        <div class="row productionDateRow" style="display: none">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPerDay" onchange="sumQuantity()" type="number"
                                                       value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 네번째 줄-->
                                    <div class="col-lg-6">
                                        <div class="row productionDateRow" style="display: none">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPerDay" onchange="sumQuantity()" type="number"
                                                       value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 다섯번째 줄-->
                                    <div class="col-lg-6">
                                        <div class="row productionDateRow" style="display: none">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPerDay" onchange="sumQuantity()" type="number"
                                                       value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 여섯번째 줄-->
                                    <div class="col-lg-6">
                                        <div class="row productionDateRow" style="display: none">
                                            <div class="input-style-1 col-lg-6">
                                                <label>날짜</label>
                                                <input name="productionDate" readonly type="date">
                                            </div>
                                            <div class="input-style-1 col-lg-6">
                                                <label>수량</label>
                                                <input name="quantityPerDay" onchange="sumQuantity()" type="number"
                                                       value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 일곱번째 줄-->
                                </div>

                                <div style="text-align: right">
                                    <button class="main-btn primary-btn btn-hover">수정</button>
                                    <a class="main-btn danger-btn btn-hover" th:href="@{/plan/list}">취소</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 재고와 소모 자재량 보여주는 표 -->
                <div class="col-lg-12">
                    <div class="card-style mb-30 ">
                        <div class="row">
                            <div class="col-lg-6 input-style-1">
                                <h3 class="mb-25">소요 자재 변동</h3>
                                <p class="text-sm mb-20">
                                    생산 수량 변경에 의한 소요 자재 변동량을 보여줍니다.
                                </p>
                            </div>
                            <div class="col-lg-3 input-style-1">
                                <label>이전 수량</label>
                                <input id="pastQuantity" readonly th:value="${productionPlanDTO.productionQuantity}"
                                       type="number">
                            </div>
                            <div class="col-lg-3 input-style-1">
                                <label>변경된 수량</label>
                                <input id="newQuantity"
                                       readonly th:value="${productionPlanDTO.productionQuantity}" type="number">
                            </div>
                        </div>
                        <div class="scrollable-tbody">
                        <table class="table" id="needQuantity">
                            <thead class="sticky">
                            <tr >
                                <th class="text-center "><h6>부품 종류</h6></th>
                                <th class="text-center "><h6>부품코드</h6></th>
                                <th class="text-center "><h6>부품명</h6></th>
                                <th class="text-center "><h6>필요 수량</h6></th>
                                <th class="text-center "><h6>재고</h6></th>
                                <th class="text-center "><h6 id="day1"
                                                                   th:text="${perDayDTOS[0].getProductionDate()}">
                                    1일</h6></th>
                                <th class="text-center "><h6 id="day2" th:if="${#lists.size(perDayDTOS)>=2}"
                                                                   th:text="${perDayDTOS[1].getProductionDate()}">
                                    2일</h6></th>
                                <th class="text-center "><h6 id="day3" th:if="${#lists.size(perDayDTOS)>=3}"
                                                                   th:text="${perDayDTOS[2].getProductionDate()}">
                                    3일</h6></th>
                                <th class="text-center "><h6 id="day4" th:if="${#lists.size(perDayDTOS)>=4}"
                                                                   th:text="${perDayDTOS[3].getProductionDate()}">
                                    4일</h6></th>
                                <th class="text-center "><h6 id="day5" th:if="${#lists.size(perDayDTOS)>=5}"
                                                                   th:text="${perDayDTOS[4].getProductionDate()}">
                                    5일</h6></th>
                                <th class="text-center "><h6>이전 소요량</h6></th>
                                <th class="text-center "><h6>변경된 소요량</h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bomDTO:${bomDTOS}">
                                <td class="min-width"><p th:text="${bomDTO.componentType}"></p></td>
                                <td class="min-width text-center"><p th:text="${bomDTO.materialCode}"></p></td>
                                <td class="min-width"><p th:text="${bomDTO.materialName}"></p></td>
                                <td class="min-width text-center">
                                    <input class="none-border" name="requireQuantity"
                                           th:value="${bomDTO.requireQuantity}"></td>
                                <td class="min-width text-align-right"><p>
                                    <span title="현재 창고 내의 가용수량 = 창고 재고 - 현재 출고요청 중인 수량">[[${bomDTO.availableStock}]]</span>
                                    <span class="text-success" title="발주 중인 수량 = 발주 수량 - 납품 지시 완료 수량">(+[[${bomDTO.remainedOrderQuantity}]])</span>
                                    <input name="availableStock" th:value="${bomDTO.availableStock}" type="hidden">
                                    <input name="remainedOrderQuantity" th:value="${bomDTO.remainedOrderQuantity}"
                                           type="hidden">
                                </p></td>
                                <td class="min-width text-align-right">
                                    <input class="none-border" name="day1" readonly
                                           th:value="${perDayDTOS[0].productionQuantity * bomDTO.requireQuantity}"
                                           type="text">
                                </td>
                                <td class="min-width text-align-right">
                                    <input class="none-border" name="day2" readonly
                                           th:if="${#lists.size(perDayDTOS)>=2}"
                                           th:value="${perDayDTOS[1].productionQuantity * bomDTO.requireQuantity}"
                                           type="text">
                                </td>
                                <td class="min-width text-align-right">
                                    <input class="none-border" name="day3" readonly
                                           th:if="${#lists.size(perDayDTOS)>=3}"
                                           th:value="${perDayDTOS[2].productionQuantity * bomDTO.requireQuantity}"
                                           type="text">
                                </td>
                                <td class="min-width text-align-right">
                                    <input class="none-border" name="day4" readonly
                                           th:if="${#lists.size(perDayDTOS)>=4}"
                                           th:value="${perDayDTOS[3].productionQuantity * bomDTO.requireQuantity}"
                                           type="text">
                                </td>
                                <td class="min-width text-align-right">
                                    <input class="none-border" name="day5" readonly
                                           th:if="${#lists.size(perDayDTOS)>=5}"
                                           th:value="${perDayDTOS[4].productionQuantity * bomDTO.requireQuantity}"
                                           type="text">
                                </td>
                                <td class="min-width text-align-right">
                                    <p th:text="${productionPlanDTO.productionQuantity * bomDTO.requireQuantity}"></p>
                                </td>
                                <td class="min-width  text-center">
                                    <input class="none-border" name="current" readonly
                                           th:value="${productionPlanDTO.productionQuantity * bomDTO.requireQuantity}"
                                           type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            //상품코드
            const productCode = $('#productCode').val();
            //이전 생산량
            const pastQuantity = $('#pastQuantity').val();
            let newQuantity;

            // loadBom(productCode)

            function updateProductCode() {
                const productMapping = {
                    "전기자전거A": "MATB3FIN001",
                    "전기자전거B": "MATB3FIN002",
                    "전동킥보드" : "MATK2FIN001"
                };

                const productSelect = document.getElementById("productSelect");
                const productCodeInput = document.getElementById("productCode");
                productCodeInput.value = productMapping[productSelect.value] || '';
            }

            // function loadTable() {
            //     var currents = $('input[name=current]').length;
            //     var newQuantity = $('#newQuantity').val();
            //     for (var i = 0; i < currents; i++) {
            //         $('input[name=current]').eq(i).val(newQuantity * $('input[name=requireQuantity]').eq(i).val());
            //     }

            // //테이블 비우기
            // $('#needQuantity').empty();
            // headerStr = '<tr> <th class="text-center"><h6>부품 종류</h6></th> <th class="text-center"><h6>부품코드</h6></th> <th class="text-center"><h6>부품명</h6></th> <th class="text-center"><h6>상품당 필요 부품 수량</h6></th> <th class="text-center"><h6>재고</h6></th> <th class="text-center"><h6>이전 소요량</h6></th> <th class="text-center"><h6>변경된 소요량</h6></th> </tr>';
            // $('#needQuantity').append(headerStr);
            // loadBom(productCode);
            // }

            // function loadBom(productCode) {
            //     $.ajax({
            //         url        : "/api/load/bom/" + productCode,
            //         type       : "GET",
            //         dataType   : "JSON",
            //         contentType: 'application/json; charset=utf-8',
            //         data       : JSON.stringify(productCode),
            //         success    : function (data) {
            //             console.log(data);
            //             str = '';
            //             newQuantity = $('#newQuantity').val();
            //             $.each(data, function (i) {
            //                 console.log(data[i]);
            //
            //                 let past = data[i].requireQuantity * pastQuantity;
            //                 let current = data[i].requireQuantity * newQuantity;
            //
            //
            //                 str += '<tr><td class="min-width"><p>' + data[i].componentType + '</p></td>' +
            //                     '<td class="min-width text-center"><p>' + data[i].materialCode + '</p></td>' +
            //                     '<td class="min-width"><p>' + data[i].materialName + '</p></td>' +
            //                     '<td class="text-align-right pr-30"><p>' + data[i].requireQuantity + '</p></td>';
            //
            //                 if (current > data[i].availableStock) {
            //                     str +=
            //                         '<td class="min-width text-center"><p class="text-danger">' + data[i].availableStock + '('
            //                         + (data[i].availableStock - current) + ')</p></td>';
            //                 } else {
            //                     str +=
            //                         '<td class="min-width text-center"><p>' + data[i].availableStock + '</p></td>';
            //                 }
            //                 str +=
            //                     '<td class="min-width text-center"><p>' + past + '</p></td>';
            //
            //                 if (newQuantity > pastQuantity) {
            //                     str += '<td class="min-width text-center"><p>' + current + '<span class="text-danger">(+' +
            //                         (current - past) + ')</span></p></td>'
            //                 } else if (newQuantity < pastQuantity) {
            //                     str += '<td class="min-width text-center"><p>' + current +
            //                         '<span class="text-success">(' +
            //                         (current - past) + ')</span></p></td>'
            //                 } else {
            //                     str += '<td class="min-width text-center"><p>' + current + '(' + (current - past) +
            //                         ')</p></td>'
            //                 }
            //             })
            //             $('#needQuantity').append(str);
            //         }
            //     })
            // }

            function addDate() {
                var startDate = new Date($('#startDate').val());
                var endDate = new Date($('#endDate').val());
                var diffDate = endDate.getDate() - startDate.getDate();

                //시작일보다 끝나는 날이 뒤일때
                if (diffDate >= 0) {
                    for (var j = 0; j < 7; j++) {
                        var currentDate = startDate;
                        $('input[name=productionDate]').eq(j).val(currentDate.toISOString().substring(0, 10));
                        currentDate.setDate(startDate.getDate() + 1);
                        $('.productionDateRow').eq(j).css("display", "none");
                    }

                    for (var i = 0; i < (diffDate + 1); i++) {
                        $('.productionDateRow').eq(i).css("display", "flex");
                    }

                    sumQuantity();
                }
            }

            function sumQuantity() {
                //시작일과 종료일 값 가져오기
                var startDate = new Date($('#startDate').val());
                var endDate = new Date($('#endDate').val());
                var diffDate = endDate.getDate() - startDate.getDate();

                //수량 가져오기
                var quantities = $('input[name=quantityPerDay]').length;
                var quantitiesArray = new Array(quantities);

                //합 구하기
                var sum = 0;
                for (var i = 0; i < diffDate + 1; i++) {
                    quantitiesArray[i] = $('input[name=quantityPerDay]').eq(i).val();
                    if (!isNaN(quantitiesArray[i]))
                        sum += parseInt(quantitiesArray[i]);
                }

                //합을 넣어주기
                $('#newQuantity').val(sum);
                $('#changedQuantity').val(sum);

                //변경된 소요량 칸 크기를 가져온다.
                var currents = $('input[name=current]').length;

                //칸에 합 * 필요수량 값을 넣어준다.
                for (var i = 0; i < currents; i++) {
                    $('input[name=current]').eq(i).val(sum * $('input[name=requireQuantity]').eq(i).val());
                }

                //각 칸에 필요수량 * 그날 생산량을 넣어준다.
                for (var i = 0; i < currents; i++) {

                    var cur = [];
                    var pas = [];
                    var curpas = [];

                    //현재 갱신된 수량 계산
                    cur[0] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPerDay]').eq(0).val();
                    cur[1] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPerDay]').eq(1).val();
                    cur[2] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPerDay]').eq(2).val();
                    cur[3] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPerDay]').eq(3).val();
                    cur[4] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPerDay]').eq(4).val();

                    //기존 수량 계산
                    pas[0] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPast]').eq(0).val();
                    pas[1] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPast]').eq(1).val();
                    pas[2] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPast]').eq(2).val();
                    pas[3] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPast]').eq(3).val();
                    pas[4] = $('input[name=requireQuantity]').eq(i).val() * $('input[name=quantityPast]').eq(4).val();

                    //문자열 생성
                    curpas[0] = cur[0] + '(' + (cur[0] - pas[0] > 0 ? '+' : '') + (cur[0] - pas[0]) + ')';
                    curpas[1] = cur[1] + '(' + (cur[1] - pas[1] > 0 ? '+' : '') + (cur[1] - pas[1]) + ')';
                    curpas[2] = cur[2] + '(' + (cur[2] - pas[2] > 0 ? '+' : '') + (cur[2] - pas[2]) + ')';
                    curpas[3] = cur[3] + '(' + (cur[3] - pas[3] > 0 ? '+' : '') + (cur[3] - pas[3]) + ')';
                    curpas[4] = cur[4] + '(' + (cur[4] - pas[4] > 0 ? '+' : '') + (cur[4] - pas[4]) + ')';

                    //값 넣어주기
                    $('input[name=day1]').eq(i).val(curpas[0]);
                    $('input[name=day2]').eq(i).val(curpas[1]);
                    $('input[name=day3]').eq(i).val(curpas[2]);
                    $('input[name=day4]').eq(i).val(curpas[3]);
                    $('input[name=day5]').eq(i).val(curpas[4]);

                    //그 자재의 창고 재고 + 앞으로 들어올 수량
                    var stock = parseInt($('input[name=availableStock]').eq(i).val()) + parseInt($('input[name=remainedOrderQuantity]').eq(i).val());
                    console.log("stock : "+ stock);
                    //일단 색깔 리셋
                    $('input[name=day1]').eq(i).css("color", "#5d657b");
                    $('input[name=day2]').eq(i).css("color", "#5d657b");
                    $('input[name=day3]').eq(i).css("color", "#5d657b");
                    $('input[name=day4]').eq(i).css("color", "#5d657b");
                    $('input[name=day5]').eq(i).css("color", "#5d657b");


                    for (var j = 0; j < diffDate+1; j++) {
                        //각 날짜 별로 수량을 빼냄.
                        stock -= cur[j];
                        console.log(j+" : "+ stock);
                        if (stock <= 0) {
                            switch (j) {
                                case 0:
                                    $('input[name=day1]').eq(i).css("color", "red");
                                    $('input[name=day1]').eq(i).attr("title", "수량이 부족합니다.");
                                    break;
                                case 1:
                                    $('input[name=day2]').eq(i).css("color", "red");
                                    $('input[name=day2]').eq(i).attr("title", "수량이 부족합니다.");
                                    break;
                                case 2:
                                    $('input[name=day3]').eq(i).css("color", "red");
                                    $('input[name=day3]').eq(i).attr("title", "수량이 부족합니다.");
                                    break;
                                case 3:
                                    $('input[name=day4]').eq(i).css("color", "red");
                                    $('input[name=day4]').eq(i).attr("title", "수량이 부족합니다.");
                                    break;
                                case 4:
                                    $('input[name=day5]').eq(i).css("color", "red");
                                    $('input[name=day5]').eq(i).attr("title", "수량이 부족합니다.");
                                    break;
                            }
                        }

                    }
                }


            }
        </script>
    </th:block>
</th:block>
